roles/pension/files/resources/schema/mesakem/Mimshak_Mesakem_XSD_Schema_v5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema version="1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="MimshakMaasikimHizunMesakem">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="KoteretKovetz" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="SUG-MIMSHAK" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
סוג הממשק
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:enumeration value="14" />
                    <xsd:enumeration value="18" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-GIRSAT-XML" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
מספר גרסא ראשי 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="005"/>	
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="TAARICH-BITZUA" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
תאריך ושעת יצירת הקובץ
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:pattern value="([0-9]\d{3}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)|(15(8[48]|9[26])|(1[6-9]|[2-9]\d)(0[48]|[13579][26]|[2468][048])|([2468][048]|16|3579[26])00)0229)((0[0-9]|1[0-9]|2[0-3])([0-5]\d){2})" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="KOD-SVIVAT-AVODA" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
סוג הנתונים המועברים בקובץ
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:enumeration value="1" />
                    <xsd:enumeration value="2" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-HAKOVETZ" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
מספר הקובץ
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="34" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-SIDURI" minOccurs="1" nillable="true">
                <xsd:annotation>
                  <xsd:documentation>
מספר סידורי של הקובץ 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="4" />
                    <xsd:minInclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="NetuneiGoremSholech" minOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="KOD-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
קוד גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="6" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SUG-MEZAHE-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
סוג מזהה גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="7" />
                          <xsd:enumeration value="8" />
                          <xsd:enumeration value="9" />
                          <xsd:enumeration value="10" />
                          <xsd:enumeration value="11" />
                          <xsd:enumeration value="12" />
                          <xsd:enumeration value="13" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-ZIHUI-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
מספר זיהוי גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-GOREM-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
שם גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="100" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-PRATI-ISH-KESHER-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
שם פרטי - איש קשר גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-MISHPACHA-ISH-KESHER-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
שם משפחה - איש קשר גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-TELEPHONE-KAVI-ISH-KESHER-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
מספר טלפון קווי - איש קשר גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
						<xsd:pattern value="[0-9]+" />							
                          <xsd:maxLength value="11" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="E-MAIL-ISH-KESHER-SHOLECH" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
כתובת דוא"ל - איש קשר גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="50" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-CELLULARI-ISH-KESHER-SHOLECH" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
טלפון סלולארי - איש קשר גורם שולח
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
						<xsd:pattern value="[0-9]+" />							
                          <xsd:maxLength value="15" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="NetuneiGoremNimaan" minOccurs="1">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="KOD-NIMAAN" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
קוד גורם נמען
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="6" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SUG-MEZAHE-NIMAAN" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
סוג מזהה גורם נמען
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="7" />
                          <xsd:enumeration value="8" />
                          <xsd:enumeration value="9" />
                          <xsd:enumeration value="10" />
                          <xsd:enumeration value="11" />
                          <xsd:enumeration value="12" />
                          <xsd:enumeration value="13" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-ZIHUI-NIMAAN" minOccurs="1">
                      <xsd:annotation>
                        <xsd:documentation>
מספר זיהוי גורם נמען
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-ZIHUI-ETZEL-YATZRAN-NIMAAN" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
מספר מזהה אצל יצרן
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="GufHamimshak" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="YeshutGoremPoneLemislaka" minOccurs="1" maxOccurs="unbounded">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="SUG-PONE" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
סוג פונה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="6" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SUG-KOD-MEZAHE-PONE" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
סוג קוד מזהה פונה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:enumeration value="1" />
                          <xsd:enumeration value="2" />
                          <xsd:enumeration value="3" />
                          <xsd:enumeration value="4" />
                          <xsd:enumeration value="5" />
                          <xsd:enumeration value="7" />
                          <xsd:enumeration value="8" />
                          <xsd:enumeration value="9" />
                          <xsd:enumeration value="10" />
                          <xsd:enumeration value="11" />
                          <xsd:enumeration value="12" />
                          <xsd:enumeration value="13" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-MEZAHE-PONE" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
מספר מזהה פונה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-GOREM-PONE" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
שם גורם פונה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="50" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-MEZAHE-METAFEL" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
מספר מזהה מתפעל
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="16" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-PRATI-PONE-LEMISLAKA" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
שם פרטי - איש קשר גורם פונה למסלקה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="SHEM-MISHPACHA-PONE-LEMISLAKA" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
שם משפחה - איש קשר גורם פונה למסלקה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="20" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-TELEPHONE-KAVI-PONE-LEMISLAKA" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
מספר טלפון קווי - איש קשר גורם פונה למסלקה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
						<xsd:pattern value="[0-9]+" />							
                          <xsd:maxLength value="11" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="E-MAIL-PONE-LEMISLAKA" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
כתובת דוא"ל - איש קשר גורם פונה למסלקה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
                          <xsd:maxLength value="50" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="MISPAR-CELLULARI" minOccurs="1" nillable="true">
                      <xsd:annotation>
                        <xsd:documentation>
טלפון סלולארי - איש קשר גורם פונה למסלקה
</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:string">
						<xsd:pattern value="[0-9]+" />							
                          <xsd:maxLength value="15" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="StatosPirteiHaavaratKsafim" minOccurs="1" maxOccurs="unbounded">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="SUG-MAFKID" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סוג מפקיד
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SUG-MEZAHE-MAASIK" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סוג מזהה מעסיק
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="3" />
                                <xsd:enumeration value="4" />
                                <xsd:enumeration value="5" />
                                <xsd:enumeration value="7" />
                                <xsd:enumeration value="8" />
                                <xsd:enumeration value="9" />
                                <xsd:enumeration value="10" />
                                <xsd:enumeration value="11" />
                                <xsd:enumeration value="12" />
                                <xsd:enumeration value="13" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="MISPAR-ZIHUY-MAASIK" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
מספר זיהוי מעסיק
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
						  <xsd:element name="MISPAR-BANK-MOSDI" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
מספר בנק מוסדי
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                               <xsd:restriction base="xsd:int">
                               </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
						  <xsd:element name="MISPAR-SNIF-MOSDI" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
מספר סניף מוסדי
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                               <xsd:restriction base="xsd:int">
                               </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
						  <xsd:element name="MISPAR-CHESHBON-MOSDI" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
מספר חשבון בנק מוסדי
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                               <xsd:restriction base="xsd:int">
                               </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="KOD-MEZAHE-MAASIK-ETZEL-YATZRAN" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
קוד מזהה מעסיק אצל יצרן
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="KOD-MASAV" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
קוד פנימי של גורם שולח במס"ב
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="16" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SHEM-MAASIK" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
שם מעסיק
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="100" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="TAARICH-ERECH-HAFKADA" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
תאריך ערך הפקדה לחשבון יצרן
</xsd:documentation>
                            </xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="xsd:date">
								</xsd:restriction>
							</xsd:simpleType>
						 </xsd:element>							
                          <xsd:element name="TAARICH-ERECH-HAFKADA-CHESHBON-NEHEMANUT" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
תאריך ערך הפקדה לחשבון נאמנות
</xsd:documentation>
                            </xsd:annotation>							
							<xsd:simpleType>
								<xsd:restriction base="xsd:date">
								</xsd:restriction>
							</xsd:simpleType>
						 </xsd:element>		
                          <xsd:element name="MISPAR-ASMACHTA-LEAHAVARAT-KSAFIM" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
מספר אסמכתא להעברת כספים
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="50" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SACH-HAFKADA-KUPA-H-P" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סך הפקדת מעסיק לקופה/ח.פ
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15" />
                                <xsd:fractionDigits value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SACH-HAFKADA-KLITA-BAPOAL" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סך הפקדה לחשבון יצרן - קליטה בפועל
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15" />
                                <xsd:fractionDigits value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="SACH-KSAFIM-SHUICHU" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סך כספים אשר שויכו לחשבון העובדים
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15" />
                                <xsd:fractionDigits value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="KSAFIM-BEMAHAVAR" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סך כספים שהועברו לחשבון מעבר אצל יצרן
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15" />
                                <xsd:fractionDigits value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
						  <xsd:element name="HASHAVAT-KSAFIM-YEZUMA" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
סך כספים שהועברו למעסיק באופן יזום
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15" />
                                <xsd:fractionDigits value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="STATUS-TIPUL-BEKSAFIM" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סטאטוס טיפול בכספים
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="1" />
                                <xsd:enumeration value="2" />
                                <xsd:enumeration value="3" />
                                <xsd:enumeration value="4" />
                                <xsd:enumeration value="5" />
                                <xsd:enumeration value="7" />
                                <xsd:enumeration value="8" />
                                <xsd:enumeration value="9" />
                                <xsd:enumeration value="10" />
                                <xsd:enumeration value="11" />
                                <xsd:enumeration value="12" />
                                <xsd:enumeration value="13" />
                                <xsd:enumeration value="14" />
                                <xsd:enumeration value="15" />
                                <xsd:enumeration value="16" />
                                <xsd:enumeration value="17" />
                               	<xsd:enumeration value="19" />
								<xsd:enumeration value="23" />
								<xsd:enumeration value="24" />
								<xsd:enumeration value="25" />
								<xsd:enumeration value="26" />
								<xsd:enumeration value="27" />
								<xsd:enumeration value="28" />
								<xsd:enumeration value="29" />
								<xsd:enumeration value="30" />
								<xsd:enumeration value="31" />
								<xsd:enumeration value="32" />
								<xsd:enumeration value="33" />
								<xsd:enumeration value="34" />
								<xsd:enumeration value="35" />
								<xsd:enumeration value="36" />
								<xsd:enumeration value="37" />
								<xsd:enumeration value="38" />
								<xsd:enumeration value="39" />
								<xsd:enumeration value="40" />
								<xsd:enumeration value="41" />
								<xsd:enumeration value="46" />
								<xsd:enumeration value="47" />
								<xsd:enumeration value="48" />
								<xsd:enumeration value="49" />
								<xsd:enumeration value="50" />
								<xsd:enumeration value="51" />
								<xsd:enumeration value="52" />
								<xsd:enumeration value="53" />
								<xsd:enumeration value="54" />
								<xsd:enumeration value="55" />
								<xsd:enumeration value="56" />
								<xsd:enumeration value="57" />
								<xsd:enumeration value="58" />
								<xsd:enumeration value="59" />
								<xsd:enumeration value="60" />
								<xsd:enumeration value="61" />
								<xsd:enumeration value="62" />
								<xsd:enumeration value="63" />
								<xsd:enumeration value="64" />	
								<xsd:enumeration value="65" />	
								<xsd:enumeration value="66" />									
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
						   <xsd:element name="PERUT-STATUS" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
פירוט סטאטוס טיפול בכספים
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                               <xsd:restriction base="xsd:decimal">
                                <xsd:totalDigits value="15" />
                                <xsd:fractionDigits value="2" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                            <xsd:element name="SUG-MIMSHAK-LEGABAV-MUAVAR-HIZUN-CHOZER" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
סוג ממשק לגביו מועבר היזון חוזר מסכם
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:int">
                                <xsd:enumeration value="12" />
                                <xsd:enumeration value="13" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="MISPAR-ZIHUI" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
מספר זיהוי
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:pattern value="([A-F]|\d){8}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){12}" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="TAARICH-NECHONUT" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
תאריך נכונות מידע
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:pattern value="([0-9]\d{3}((0[1-9]|1[012])(0[1-9]|1\d|2[0-8])|(0[13456789]|1[012])(29|30)|(0[13578]|1[02])31)|(15(8[48]|9[26])|(1[6-9]|[2-9]\d)(0[48]|[13579][26]|[2468][048])|([2468][048]|16|3579[26])00)0229)((0[0-9]|1[0-9]|2[0-3])([0-5]\d){2})" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="MISPAR-MISLAKA" minOccurs="1" nillable="true">
                            <xsd:annotation>
                              <xsd:documentation>
מספר מסלקה
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:pattern value="([A-F]|\d){8}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){12}" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
                          <xsd:element name="PirteiOved" minOccurs="1" maxOccurs="unbounded">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element name="SUG-MEZAHE-OVED" minOccurs="1">
                                  <xsd:annotation>
                                    <xsd:documentation>
סוג מזהה עובד
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:int">
                                      <xsd:enumeration value="1" />
                                      <xsd:enumeration value="2" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="MISPAR-MEZAHE" minOccurs="1">
                                  <xsd:annotation>
                                    <xsd:documentation>
מספר מזהה עובד
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:maxLength value="16" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="SHEM-PRATI" minOccurs="1">
                                  <xsd:annotation>
                                    <xsd:documentation>
שם פרטי
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="SHEM-MISHPACHA" minOccurs="1">
                                  <xsd:annotation>
                                    <xsd:documentation>
שם משפחה 
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="TAARICH-LEIDA" minOccurs="1" nillable="true">
                                  <xsd:annotation>
                                    <xsd:documentation>
תאריך לידה
</xsd:documentation>
                                  </xsd:annotation>								  
									<xsd:simpleType>
										<xsd:restriction base="xsd:date">
										</xsd:restriction>
									</xsd:simpleType>
							 </xsd:element>	
                                <xsd:element name="MISPAR-OVED-ETZEL-MAASIK" minOccurs="1" nillable="true">
                                  <xsd:annotation>
                                    <xsd:documentation>
מספר עובד אצל מעסיק
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                      <xsd:maxLength value="20" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
                                <xsd:element name="StatosPirteiKlitatReshuma" minOccurs="1" maxOccurs="unbounded">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="MISPAR-MEZAHE-RESHUMA" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
מספר מזהה רשומה
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:pattern value="([A-F]|\d){8}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){4}-([A-F]|\d){12}" />
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="RESHUMA-NIKLETA" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
רשומה נקלטה
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:int">
                                            <xsd:enumeration value="1" />
                                            <xsd:enumeration value="2" />
                                            <xsd:enumeration value="3" />
											<xsd:enumeration value="4" />
                                            <xsd:enumeration value="5" />
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="SUG-SHGIHA" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
סוג שגיאה
ערכים מוגדרים בלבד :
1 = אין שגיאה
2 = רשומה פוצלה בין פוליסות שונות
3 = רשומה פוצלה בין קרן חדשה מקיפה לקרן חדשה כללית
4 = מספר ת.ז/דרכון לא קיים אצל יצרן
5 = הפוליסות/חשבונות של המבוטח אינן פעילות ואינן ניתנות לחידוש
6 = חוסר תשלום לכיסוי ביטוחי - מעסיק
7 = עודף תשלום לכיסוי ביטוחי - מעסיק 
11 = ת.ז לא מתאימה לפרטים אישיים
13 = לא ניתן להשיב תשלום שהופקד ביתר - בחשבון אין כספים
15 = הפקדה לתכנית מסולקת
16= לא עומד בתקנה 19- לא ניתן להפקיד לרכיב תגמולי עובד ללא רכיב תגמולי מעסיק
17= לא עומד בתקנה 19- לא ניתן להפקיד לרכיב תגמולי מעסיק ללא רכיב תגמולי עובד
18= חסר ערך בשדה חובה מותנית, מספר השדה מופיע בפירוט השגיאה
19= לא ניתן לדווח הפקדה לעובד במקביל לדיווח סטטוס לפיו לא הועברו הפקדות
20= הפקדת רכיב פיצויים לעמית/מבוטח במעמד עצמאי
21= הפקדת רכיב תגמולי מעביד לעמית/מבוטח במעמד עצמאי
23= לא עומד בתקנה 19 - לא ניתן להפקיד לרכיב פיצויים ללא תגמולי עובד ומעסיק
24= אין קופת גמל לעובד תחת המעסיק
25= אין קרן השתלמות לעובד תחת המעסיק
26= אין קרן פנסיה לעובד תחת המעסיק
27= לא ניתן להפקיד בגין חודש שכר עתידי 
28= חודש שכר דווח כפול
29= לא ניתן להשיב תשלום שהופקד ביתר - חשבון מעוקל 
30= לא ניתן להשיב תשלום שהופקד ביתר לשייך / לבטל זכויות - חשבון משועבד
31= התנועה המקורית תקינה ומותאמת (עבור דיווח מתקן)
32= מספר מזהה רשומה דווח בעבר
33= תאריך בשדה "תחילת סטטוס עובד" אינו תקין
34= העמית נפטר
39= הפקדה להצעה שטרם הושלם בגינה תהליך הפקת הפוליסה/חשבון
42= אין קופת ביטוח לעובד תחת המעסיק
43= דווחה תנועה כפולה
44= דיווח לא תקין על אחוז משרה/ימי עבודה בחודש
45= אין יתרה זמינה בחשבון המעסיק לפירעון רשימת ההפקדה
46= לא ניתן לקלוט תשלום לחשבון העמית בקרן ותיקה, שכן לא דווחה תנועה לעמית יותר מ-24 חודשים
47= לא ניתן לקלוט תנועה לעמית המקבל קצבת זקנה בקרן ותיקה
48= לא ניתן לקלוט תנועה לעמית המקבל קצבת נכות מלאה
49= לא ניתן לקלוט תנועה לעמית שמשך כספים מקרן ותיקה
50= דיווח כפול על מספר זיהוי של פרטי העברת כספים
51= לא ניתן להשיב תשלום שהופקד ביתר - תנועה שלילית גדולה מהיתרה לעמית בחודש העבודה המדווח
52= אין הסכם לעמית בקרן ותיקה מול המעסיק
53= אין התאמה בין אחוז הפרשה, סכום הפרשה ושכר
54= הפקדה בגין חודש שכר קודם למועד פתיחת התכנית
55 = לא ניתן לקלוט הפקדה בשל אי השלמת מסמכים
56= דווח חשבון עו"ש שגוי להפקדת כספים
57= רשומה פוצלה במלואה לקרן חדשה כללית
58= קרן ההשתלמות של העובד חסומה להפקדות
59= שגיאה בשדה סך תשלומים פטורים
61= הפקדה דווחה לסוג קופה שגוי בחברה המנהלת
62= ספרת ביקורת שגויה
63= הפקדה לרכיב שאינו קיים בפוליסת הביטוח
64= הפקדה לרכיב שאינו קיים במוצר
66= לא ניתן להשיב תשלום שהופקד ביתר - בוצע פדיון
67= לא ניתן לקלוט הפקדה בשל אי השלמת מסמכים לביצוע שינויים בפוליסה
68= אין התאמה בין דיווח המעסיק לבין תנאי הפוליסה
69= לא ניתן להשיב תשלום שהופקד ביתר - חוסר בתצהיר
70= לא ניתן להשיב תשלום שהופקד ביתר - תצהיר אינו תקין
71= תגמולי עובד ותגמולי מעסיק עד 5% מהשכר נדרשים להיות זהים
72= לא ניתן להפקיד מעבר לתקרת הפקדה המוגדרת בתקנה 19
73= דיווח על סכום פטור במצטבר שהופקדו עבור חודשים בשנת המס גבוה מסך הפקדות מתחילת השנה שהופקדו עבור חודשים של אותה שנת מס 
74= לא ניתן לדווח על תשלום פטור לרכיב ביטוח
75= במעמד הפקדת שכיר - שוטף חובה לדווח על השכר ממנו הועברו תשלומים לקופה
77= הפוליסות/חשבונות של המבוטח אינן פעילות וניתנות לחידוש
78= בתאריך בו בוצעה ההפקדה לעובד טרם מלאו 18
79= שגיאה בהליך הפקדת הכספים אינה מאפשרת קליטת הרשומה - ראה שגיאה בשדה "סטטוס טיפול בכספים" (שדה 43)
80= בקשת העובד להתקבל כעמית/מבוטח נדחתה
81 = חוסר תשלום לכיסוי ביטוחי - עובד
82 = עודף תשלום לכיסוי ביטוחי - עובד
83 = השבת כספים יזומה מגוף מוסדי למעסיק - התראה ראשונה
84 = השבת כספים יזומה מגוף מוסדי למעסיק - התראה שנייה
85 = השבת כספים יזומה מגוף מוסדי למעסיק - השבה בפועל
86 = לא הועברו פרטי קשר של עובד בהצטרפות לקופת ברירת מחדל 
87 = לא ניתן להשיב תשלום שהופקד ביתר - בוצע ניוד
88 = לא ניתן להשיב תשלום שהופקד ביתר - תשלום כבר הוחזר למעסיק
89= לא ניתן להשיב תשלום שהופקד ביתר - הפוליסה בסטטוס תביעה
90= לא ניתן להשיב תשלום שהופקד ביתר - הפוליסה בסטטוס ביטול
91= לא נקלט כתוצאה מאי התאמה לחוקת הפיצול - בטיפול הגוף המוסדי.
92 = לא ניתן לבצע החזר - הפוליסה בסטטוס תום תקופה, הועבר לטיפול מחלקת גביה
93= סכום שדווח בממשק שלילי לחודש השכר גבוה מהפקדה - לא ניתן לבצע החזר
94= לא ניתן לבטל תנועה- בוצעה משיכה
95= לא ניתן לבטל תנועה- בוצע ניוד 
96= לא ניתן לבטל תנועה- בוצעה השבת תשלום למעסיק
97= לא אותרה הפקדה
98= לא אותר מזהה רשומה
99= החזר למעסיק בגין תשלום פרמיית א.כ.ע בעודף 
100= דווח בממשק השוטף בשדה סוג פעולה קוד 2 או קוד 3 אך לא דווח בממשק שלילי בשדה זה קוד 6 בגין פעולות מתקנות כנדרש.
101= דווח בממשק השלילי בשדה סוג פעולה קוד 6 אך לא דווח בממשק השוטף בשדה זה קוד 2 או קוד 3 בגין פעולות כנדרש.
102= תצהיר מעסיק אגב הסכם קיבוצי לא תקין
103= לא התקבל תצהיר מעסיק אגב הסכם קיבוצי
104= לא ניתן לדווח סוג תקבול חד פעמי לרכיבי ביטוח
105 = חוסר תשלום לתגמולי מעסיק 
106 = עודף תשלום לתגמולי מעסיק 
107 = חוסר תשלום לתגמולי עובד 
108 = עודף תשלום לתגמולי עובד 
109 = תצהיר עובד לא תקין
110 = לא התקבל תצהיר עובד
111= לא התקבל תצהיר מעסיק
112 = תצהיר מעסיק לא תקין
113 = חוסר תשלום לפיצויי מעסיק 
114 = עודף תשלום לפיצויי מעסיק 
115 = אין בפוליסה כיסוי אכ"ע לעובד
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:int">
                                            <xsd:enumeration value="1" />
                                            <xsd:enumeration value="2" />
                                            <xsd:enumeration value="3" />
                                            <xsd:enumeration value="4" />
                                            <xsd:enumeration value="5" />
                                            <xsd:enumeration value="6" />
                                            <xsd:enumeration value="7" />
                                            <xsd:enumeration value="11" />
                                            <xsd:enumeration value="13" />
											<xsd:enumeration value="15" />
                                            <xsd:enumeration value="16" />
											<xsd:enumeration value="17" />
											<xsd:enumeration value="18" />
											<xsd:enumeration value="19" />
											<xsd:enumeration value="20" />
											<xsd:enumeration value="21" />
											<xsd:enumeration value="23" />
											<xsd:enumeration value="24" />
											<xsd:enumeration value="25" />
											<xsd:enumeration value="26" />
											<xsd:enumeration value="27" />
											<xsd:enumeration value="28" />											
											<xsd:enumeration value="29" />
											<xsd:enumeration value="30" />
											<xsd:enumeration value="31" />
											<xsd:enumeration value="32" />
											<xsd:enumeration value="33" />
											<xsd:enumeration value="34" />
											<xsd:enumeration value="39" />
											<xsd:enumeration value="42" />
											<xsd:enumeration value="43" />
											<xsd:enumeration value="44" />
											<xsd:enumeration value="45" />
											<xsd:enumeration value="46" />
											<xsd:enumeration value="47" />
											<xsd:enumeration value="48" />
											<xsd:enumeration value="49" />
											<xsd:enumeration value="50" />
											<xsd:enumeration value="51" />
											<xsd:enumeration value="52" />
											<xsd:enumeration value="53" />
											<xsd:enumeration value="54" />
											<xsd:enumeration value="55" />
											<xsd:enumeration value="56" />
											<xsd:enumeration value="57" />
											<xsd:enumeration value="58" />
											<xsd:enumeration value="59" />
											<xsd:enumeration value="61" />
											<xsd:enumeration value="62" />
											<xsd:enumeration value="63" />
											<xsd:enumeration value="64" />
											<xsd:enumeration value="66" />
											<xsd:enumeration value="67" />
											<xsd:enumeration value="68" />
											<xsd:enumeration value="69" />
											<xsd:enumeration value="70" />
											<xsd:enumeration value="71" />
											<xsd:enumeration value="72" />
											<xsd:enumeration value="73" />
											<xsd:enumeration value="74" />
											<xsd:enumeration value="75" />
											<xsd:enumeration value="77" />
											<xsd:enumeration value="78" />
											<xsd:enumeration value="79" />
											<xsd:enumeration value="80" />
											<xsd:enumeration value="81" />
											<xsd:enumeration value="82" />
											<xsd:enumeration value="83" />
											<xsd:enumeration value="84" />
											<xsd:enumeration value="85" />
											<xsd:enumeration value="86" />
											<xsd:enumeration value="87" />
											<xsd:enumeration value="88" />
											<xsd:enumeration value="89" />
											<xsd:enumeration value="90" />
											<xsd:enumeration value="91" />
											<xsd:enumeration value="92" />
											<xsd:enumeration value="93" />
											<xsd:enumeration value="94" />
											<xsd:enumeration value="95" />
											<xsd:enumeration value="96" />
											<xsd:enumeration value="97" />
											<xsd:enumeration value="98" />
											<xsd:enumeration value="99" />
											<xsd:enumeration value="100" />
											<xsd:enumeration value="101" />
											<xsd:enumeration value="102" />
											<xsd:enumeration value="103" />
											<xsd:enumeration value="104" />
											<xsd:enumeration value="105" />
											<xsd:enumeration value="106" />
											<xsd:enumeration value="107" />
											<xsd:enumeration value="108" />
											<xsd:enumeration value="109" />
											<xsd:enumeration value="110" />
											<xsd:enumeration value="111" />
											<xsd:enumeration value="112" />
											<xsd:enumeration value="113" />
											<xsd:enumeration value="114" />
											<xsd:enumeration value="115" />										
								   	        </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="PERUT-SHGIHA-SHUM" minOccurs="1" nillable="true">
                                        <xsd:annotation>
                                          <xsd:documentation>
פירוט שגיאה סכום
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="15" />
                                                  <xsd:fractionDigits value="2" />
                                                  <xsd:minInclusive value="0" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                      </xsd:element>
									   <xsd:element name="PERUT-SHGIHA-TAARICH" minOccurs="1" nillable="true">
                                  <xsd:annotation>
                                    <xsd:documentation>
פירוט שגיאה תאריך
</xsd:documentation>
                                  </xsd:annotation>								  								  
									<xsd:simpleType>
										<xsd:restriction base="xsd:date">
										</xsd:restriction>
									</xsd:simpleType>
							 </xsd:element>									  
								<xsd:element name="SHEM-BAAL-RISHAION" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
שם בעל רישיון
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="100" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
											<xsd:element name="HP-BAAL-RISHAION" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
ח.פ בעל רישיון
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>										
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="16" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                      </xsd:element>
									  <xsd:element name="E-MAIL-BAAL-RISHAION" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
כתובת דוא"ל - בעל רישיון
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="50" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>											
									  <xsd:element name="KOD-MEZAHE-KUPA-MEKABELET" minOccurs="1" nillable="true">
                                              <xsd:annotation>
                                                <xsd:documentation>
קוד מזהה קופה מקבלת
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="30" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>	
                                      <xsd:element name="OfenRishumZchuiot" minOccurs="0" maxOccurs="unbounded">
                                        <xsd:complexType>
                                          <xsd:sequence>
										        <xsd:element name="KOD-MEZAHE-KUPA-H-P" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
קוד זיהוי קופה/ח.פ
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="30" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SACHAR-MECHUSHAV" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
שכר מחושב
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="15" />
                                                  <xsd:fractionDigits value="2" />
                                                  <xsd:minInclusive value="0" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="CHODESH-MASKORET" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
חודש משכורת
</xsd:documentation>
                                              </xsd:annotation>											  							  								  
												<xsd:simpleType>
													<xsd:restriction base="xsd:date">
													</xsd:restriction>
												</xsd:simpleType>
										 </xsd:element>										 
                                            <xsd:element name="MISPAR-POLISA-O-HESHBON" minOccurs="1" nillable="true">
                                              <xsd:annotation>
                                                <xsd:documentation>
מספר פוליסה / מספר חשבון
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="20" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SUG-HAFRASHA" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
סוג הפרשה
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:int">
                                                  <xsd:enumeration value="1" />
                                                  <xsd:enumeration value="2" />
                                                  <xsd:enumeration value="3" />
                                                  <xsd:enumeration value="4" />
                                                  <xsd:enumeration value="5" />
                                                  <xsd:enumeration value="6" />
                                                  <xsd:enumeration value="7" />
                                                  <xsd:enumeration value="8" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SHIUR-HAFRASHA" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
שיעור הפרשה
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="4" />
                                                  <xsd:fractionDigits value="2" />
                                                  <xsd:minInclusive value="0" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SCHUM-HAFRASHA" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
סכום הפרשה
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="15" />
                                                  <xsd:fractionDigits value="2" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
											<xsd:element name="NIKUI-MAS" minOccurs="1" nillable="true">
                                              <xsd:annotation>
                                                <xsd:documentation>
ניכוי מס בגין החזר
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="15" />
                                                  <xsd:fractionDigits value="2" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
											<xsd:element name="SACH-HECHZER-MEVUKASH" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
סך החזר מבוקש על ידי המעסיק 
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="15" />
                                                  <xsd:fractionDigits value="2" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
											<xsd:element name="TAARICH-BAKASHAT-HECHZER" minOccurs="1" nillable="true">
                                  <xsd:annotation>
                                    <xsd:documentation>
תאריך בקשת החזר על ידי המעסיק
</xsd:documentation>
                                  </xsd:annotation>								  							  								  
												<xsd:simpleType>
													<xsd:restriction base="xsd:date">
													</xsd:restriction>
												</xsd:simpleType>
							 </xsd:element>		
                                            <xsd:element name="SACH-TASHLUMIM-PTURIM" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
סך תשלומים פטורים 
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="15" />
                                                  <xsd:fractionDigits value="2" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SHIUR-KISUI" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
שיעור כיסוי א.כ.ע
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="5" />
                                                  <xsd:fractionDigits value="2" />
                                                  <xsd:minInclusive value="0" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                            <xsd:element name="SHIUR-HAFRASHA-NOCHECHI" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
שיעור הפרשה נוכחי לא.כ.ע
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="4" />
                                                  <xsd:fractionDigits value="2" />
                                                  <xsd:minInclusive value="0" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
											<xsd:element name="SHIUR-HAFRASHA-ATIDI" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
שיעור הפרשה עתידי לא.כ.ע
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:decimal">
                                                  <xsd:totalDigits value="4" />
                                                  <xsd:fractionDigits value="2" />
                                                  <xsd:minInclusive value="0" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
											<xsd:element name="TAARICH-IDKUN-TZAFUI" minOccurs="1">
                                  <xsd:annotation>
                                    <xsd:documentation>
תאריך עדכון צפוי של תעריף א.כ.ע
</xsd:documentation>
                                  </xsd:annotation>								  							  								  
										<xsd:simpleType>
											<xsd:restriction base="xsd:date">
											</xsd:restriction>
										</xsd:simpleType>
							 </xsd:element>		
								<xsd:element name="SIBAT-IDKUN_TAARIF" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
סיבת עדכון תעריף א.כ.ע
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:int">
                                                  <xsd:enumeration value="1" />
                                                  <xsd:enumeration value="2" />
                                                  <xsd:enumeration value="3" />												  
                                                  </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
                                          </xsd:sequence>
                                        </xsd:complexType>
                                      </xsd:element>
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
						   <xsd:element name="Doch-Nigraim" minOccurs="0" maxOccurs="unbounded">
							  <xsd:complexType>
								<xsd:sequence>
								    <xsd:element name="KOD-MEZAHE-KUPA-H-P" minOccurs="1">
                            <xsd:annotation>
                              <xsd:documentation>
קוד זיהוי קופה/ח.פ
</xsd:documentation>
                            </xsd:annotation>
                            <xsd:simpleType>
                              <xsd:restriction base="xsd:string">
                                <xsd:pattern value="[0-9]{30}" />
                              </xsd:restriction>
                            </xsd:simpleType>
                          </xsd:element>
						  <xsd:element name="SUG-KUPA" minOccurs="1">
                                  <xsd:annotation>
                                    <xsd:documentation>
סוג קופה
</xsd:documentation>
                                  </xsd:annotation>
                                  <xsd:simpleType>
                                    <xsd:restriction base="xsd:int">
                                      <xsd:enumeration value="1" />
                                      <xsd:enumeration value="2" />
                                      <xsd:enumeration value="3" />
                                      <xsd:enumeration value="4" />
                                    </xsd:restriction>
                                  </xsd:simpleType>
                                </xsd:element>
								<xsd:element name="SUG-MEZAHE-OVED" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
סוג מזהה עובד
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:int">
                                            <xsd:enumeration value="1" />
                                            <xsd:enumeration value="2" />										
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="MISPAR-MEZAHE" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
מספר מזהה עובד
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="16" />
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="SHEM-PRATI" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
שם פרטי
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="20" />
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
                                      <xsd:element name="SHEM-MISHPACHA" minOccurs="1">
                                        <xsd:annotation>
                                          <xsd:documentation>
שם משפחה 
</xsd:documentation>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                          <xsd:restriction base="xsd:string">
                                            <xsd:maxLength value="20" />
                                          </xsd:restriction>
                                        </xsd:simpleType>
                                      </xsd:element>
									  <xsd:element name="SACHAR-ACHARON" minOccurs="1">
                                              <xsd:annotation>
                                                <xsd:documentation>
חודש שכר אחרון בו הועבר תשלום
</xsd:documentation>
                                              </xsd:annotation>
                                              <xsd:simpleType>
                                                <xsd:restriction base="xsd:string">
                                                  <xsd:pattern value="(((1[0-9]\d{2})|(2[0-9]\d{2}))(0[1-9]|1[0-2]))" />
                                                </xsd:restriction>
                                              </xsd:simpleType>
                                            </xsd:element>
									<xsd:element name="MISPAR-CHODSHEI-CHOV" minOccurs="0" nillable="true">
                <xsd:annotation>
                  <xsd:documentation>
מספר חודשי חוב לעובד
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="1" />
                    <xsd:minExclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
									<xsd:element name="HASIBA-BEGINA-HAOVED-BEDOCH-NIGRAHIM" minOccurs="1" >
                <xsd:annotation>
                  <xsd:documentation>
סיבה לדיווח בדוח נגרעים
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">				  
                    <xsd:enumeration value="1" />
                    <xsd:enumeration value="2" />
                    
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
								 </xsd:sequence>
							  </xsd:complexType>
							</xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="ReshumatSgira" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="MISPAR-YATZRANIM" minOccurs="1" nillable="true">
                <xsd:annotation>
                  <xsd:documentation>
מספר קופות/יצרנים בקובץ 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="6" />
                    <xsd:minExclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-MAASIKIM" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
מספר מעסיקים בקובץ 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="6" />
                    <xsd:minExclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-RESHUMOT" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
מספר רשומות בקובץ 
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="15" />
                    <xsd:minExclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="MISPAR-AMITIM" minOccurs="1">
                <xsd:annotation>
                  <xsd:documentation>
מספר עמיתים בקובץ
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="6" />
                    <xsd:minExclusive value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="SACH-HAFRASHOT-BAKOVETZ" minOccurs="1" nillable="true">
                <xsd:annotation>
                  <xsd:documentation>
סה"כ הפרשות בקובץ
</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="15" />
                    <xsd:fractionDigits value="2" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>